 .footer {
    background-color: #000;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
  }

  .contact-info {
    color: #ccc; /* Color del texto de la información de contacto */
    font-size: 14px; /* Tamaño de fuente para los detalles de contacto */
  }
  
  .contact-info p {
    margin-bottom: 5px; /* Espacio entre cada línea de información de contacto */
  }