<footer class="footer has-background-dark mt-5">
  <div>
    <div class="has-text-centered">
      <figure class="mb-3 is-inline-block"> 
        <img src="../../../assets/testImageFooter-removebg-preview.jpg" alt="Test Image" class="image is-128x128"> 
      </figure>

      <div class="contact-info mt-3">
        <div class="mb-3">
          <p>Contacto vía mail: {{email}}</p>
        </div>
        <div class="mt-3">
          <p>Contacto via teléfonico: {{phone}}</p>
        </div>
      </div>

      <hr class="mt-5 mb-5" style="width: 70%; margin: auto">

      <h4>Horario del Restaurante</h4>
      <div class="timetable mt-5 is-flex is-flex-wrap-wrap is-justify-content-center">
        <ng-container *ngFor="let item of timetable; let last = last" class="timetable-item" [class.last-item]="last">
          <p class="mr-1 ml-2">{{ item }}&nbsp;</p>
        </ng-container>
      </div>
        

    <div class="has-text-centered mt-5 copyright">
      <span>© 2024 New Traditions. Todos los derechos reservados</span>
    </div>
    </div>
  </div>
</footer>