<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <figure class="mb-3 is-inline-block"> 
        <img src="../../../assets/testImageFooter-removebg-preview.jpg" alt="Test Image" class="image is-128x128"> 
      </figure>

      <div class="contact-info mt-3">
        <div class="mb-3">
          <p>{{email}}</p>
        </div>
        <div class="mt-3">
          <p>Teléfono {{phone}}</p>
        </div>
      </div>

      <hr>

      <div class="timetable mt-5">
        <div class="is-flex">
          <span *ngFor="let item of timetable; let last = last;">
            <p>{{ item }} &nbsp; <span *ngIf="!last">/ &nbsp;</span></p>
          </span>
        </div>
      </div>
        

    <div class="has-text-centered mt-5 copyright">
      <span>© 2024 New Traditions. Todos los derechos reservados</span>
    </div>
    </div>
  </div>
</footer>