 .footer {
    background-color: #000;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
  }


  .contact-info, .copyright {
    color: #ccc; // Color del texto de la información de contacto 
  }