<form class="box has-background-grey-dark" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="field">
    <label class="label has-text-white">Usuario</label>
    <div class="control">
      <input class="input" type="text" placeholder="Ingresa tu usuario" name="username" [(ngModel)]="user.username" required>
    </div>
  </div>

  <div class="field">
    <label class="label has-text-white">Contraseña</label>
    <div class="control">
      <input class="input" type="password" placeholder="Ingresa tu contraseña" name="password" [(ngModel)]="user.password" required>
    </div>
  </div>

  <div class="field">
    <div class="control has-text-centered">
      <button class="button is-primary mt-3" type="submit">Iniciar Sesión</button>
    </div>
  </div>
</form>
