<div class="columns">
    <div class="column is-full">
        <div class="buttons is-pulled-right mt-5 mr-5">
            <button class="button" (click)="InsertIngredient()">Nuevo Ingrediente</button> 
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-full">
        <ag-grid-angular 
            style="width: 100%; height: 100%;"
            class="ag-theme-alpine has-text-centered"
            [gridOptions]="gridOptions" 
            [columnDefs]="colDefs"
            [rowData]="rowData" 
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>